<div class="container-md pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-8">
        <img src="assets/images/login_page.png"
                class="rounded img-fluid" alt="Phone image">
        </div>
        <div class="col-sm-4">
            <div class="login-page">
                <div class="title">
                    <div class="mb-0">
                        <img src="assets/images/home-logo.svg"
                    class="img-fluid mx-auto mt-auto d-block logo" alt="Phone image">
                    </div>
        
                    <p class="text-center text-muted mt-2" style="font-size:11px;">Welcome to ViuLiving Web Real estate for Customer Manage & Monitoring</p>
                </div>
                <div class="form">
                    <form [formGroup]="registerForm" class="login-form">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="username" placeholder="username"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="password" placeholder="password"/>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="d-flex justify-content-center w-100 text-left">
                                <input type="checkbox" class="form-checbox mt-1 checkbox-position" checked/>
                                <label class="col-md-6 checkbox-wrap mb-0">
                                    Remember Me
                                </label>
                            </div>
                            <div class="w-100 text-right">
                                <label class="checkbox-wrap checkbox-primary mb-0 float-end">
                                    Forgot Password
                                </label>
                            </div>
                        </div>
                        <button class="btn" routerLink="/dashbboard" (click)="onSubmit()">login</button>
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>